@import "./breakpoints.scss";
@import "./varibles.scss";
@import "./components/headerNav.scss";
@import "./components/hero.scss";
@import './components/projetItem.scss';
@import './components/skillSection.scss';
@import './components/skillCard.scss';
@import './components/footer.scss';
@import './components/humburger.scss';
@import './components/skillCard_2.scss';

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
  scroll-behavior: smooth;
  position: relative;
  overflow-x: hidden;
}

#root {
  background-image: url('../assets/svg/1.svg');
  background-size: cover;
}


